@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
header{
    margin-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.container{
      width: 70%;
    max-width: 1140px;
  margin: 0 auto;
}
main , footer{
    width: 70%;
max-width: 1140px;
  margin: 0 auto;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
 

}
ul li{
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 400;
}
#hero{
 display: flex;
 justify-content: center;
 padding-top: 150px;
 text-align: center;
}
.text-content h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.text-content p {
    color: #424242;
    line-height: 30px;
    padding: 0px 38px;
    margin-bottom: 20px;
}
.explor{
    background: #FF900E;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.explor a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.text-content img{
    width: 100%;
}
.team , .feature{
    display: flex;
    gap: 54px;
    margin-top: 150px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}
.team-img img{
    width: 250px;
}
.textContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textContent  h3{
    font-size: 35px;
    font-weight: 500;
   color: #424242;
   margin-bottom: 12px;
}
.textContent  p {
	font-size: 15px;
	line-height: 25px;
      color: #424242;
       margin-bottom: 12px;
}
#hightlight{
      font-weight: bold;
   color: #000;
}
#orange{
    color: #FF900E;
}
.feature-text h2 {
    font-size: 45px;
    font-weight: bold;
    border-left: 5px solid #ff900e;
    padding-left: 12px;
    margin-bottom: 30px;
}
.feature-text p{
    color: #727272;
    line-height: 26px;

}
.feature-boxs {
    margin-top: 14px;
    padding-left: 16px;
}
.box{
    margin-bottom: 30px;
}
.box h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.explor-btn {
    background: #FF900E;
    border: none;
    padding: 49px 33px;
    border-radius: 5px;
    margin: -35px;
    color: #fff;
    
}
.explor-btn span{
    font-size: 30px;
    font-weight: bold;
    display: block;
}
.feature-img img {
    width: 500px;
}
.fact ,footer{
    margin-top: 50px;
}
.text-section h3{
    font-size: 45px;
    font-weight: bold;
}
.text-section p{
    color: #727272;
    line-height: 26px;
}
.card-section {
    display: flex;
    padding: 23px;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-section .card-box {
    display: flex;
    justify-content: center;
    align-items: center;   /* vertical center */
    border: 1px solid #FF900E;
    padding: 20px;
    width: 200px;
    height: 180px;
}

.card-section .card-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.card-box h3{
    font-size: 45px;
    font-weight: 700;
}
.footer-header{
    text-align: center;
  
}
.footer-header h2{
   font-size: 45px;
    font-weight: bold;
}
.footer-header p{
       color: #727272;
    line-height: 26px;
}
.company{
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
    margin-top: 20px;
      margin-bottom: 50px;
}
.company img{
    filter: grayscale(1);
    transition: all 0.8s ease-in;
}
.company img:hover{
    filter: grayscale(0);
}
.copyright {
    text-align: center;
    background: #4242422b;
    padding: 12px;
    margin-bottom: 50px;
}

@media screen and (max-width:675px) {
    nav{
        flex-direction: column;
        text-align: center;
    }
    nav .logo{
        margin-bottom: 30px;
    }
    .text-content h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.text-content p {
    color: #424242;
    line-height: 30px;
    padding: 0px 0px;
    margin-bottom: 20px;
    font-size: 15px;
}
.team , .feature{
  flex-direction: column;
}
.team-img{
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
}
.feature-img img {
    width: 400px;
}


}

